* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:darkgrey;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: azure;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgba(62, 50, 64, 0.3);
    border-radius: 15px;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li {
    padding: 0 5%;
}

.main-header {
    background-color: darkslateblue;
    padding-bottom: 30px;
}

.about-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
}

.about-name-large {
    font-size: 5em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    color: black;
    text-align: center;
    font-size: 2.5em;
}

.main-footer {
    background-color: blueviolet;
    padding: .25em 0;
}

.main-footer p {
    color: darkblue;
    padding: 0 .25em;
}

.main-footer li {
    color: darkblue;
}


.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.btn {
    background-color: #007BFF;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.project {
    background-color: indigo;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.more-projects {
    text-align: center;
    margin-top: 30px;
}
